body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

header {
    background-color: black;
    color: gold;
    text-align: center;
}

#fireDiv {
    background-image: url("/images/fire Photo.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;

  /* Flexbox to center child */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}

#introTextBox {
    background-color: goldenrod;
    width: 40%;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

/*MAKE SURE WORKS ON DIFFERENT SCREEN SIZES*/